header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
}

.howToButton {
    /* display: flex; */
    justify-content: flex-end;
    margin-top: 15px;
    margin-left: 20px;
}

header > h1 {
    color: rgb(255, 255, 255);
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    display:flex;
    align-items: center;
}


