header {
    height: 10vh;
    width: 100%;
    background: #000000;
background: radial-gradient(circle, rgba(0, 0, 0, 0.12) 0%, rgba(87, 199, 133, 1) 0%, rgba(0, 0, 0, 0.60) 0%);
}

main {
    height: 90vh;
  width: 100%;

}

