main {
  display: flex;
  gap: 20px;
  padding: 20px;

  align-items: flex-start;
  justify-content: center; 
}

.leftCol,
.rightCol {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.gold {
  height: 30px;
  width: 140px;
  background: beige;
}

.leftChat,
.rightChat {
  height: 25em;
  margin-top: 5em;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.12) 0%, rgba(87, 199, 133, 1) 0%, rgba(0, 0, 0, 0.60) 0%);
    color: white;
}

.rightChat {
  
}

.textBox input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.555);
  border-color: aliceblue;
  border-radius: 5px;
}